#two {
  height: 100%;

  .container {
    display: grid;
    grid-template-columns: 100px 200px auto auto;
    grid-gap: 20px;
    height: 100%;

    > * {
      background-color: skyblue;
    }
  }

  .grid-item:nth-of-type(2) {
    grid-row-start: span 2;
  }

  .grid-item:nth-of-type(6) {
    grid-column: 3 / span 2;
  }
}