#eleven {
  height: 100%;

  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 4fr 6fr;
    grid-auto-rows: 2fr 12fr; // Firefox 52 Does not accept multiple track-size values. https://bugzilla.mozilla.org/show_bug.cgi?id=1339672
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    height: 100%;
  }

  .grid-item {
    background-color: mistyrose;
    font-size: 30px;
  }
}