#seven {
  height: 100%;

  .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: minmax(min-content, 1fr) minmax(max-content, 4fr);
    height: 100%;
  }

  .box {
    background-color: mediumpurple;
  }
}