#six {
  height: 100%;

  .container {
    display: grid;
    grid-template-areas:
      "header"
      "section"
      "aside"
      "footer";
    grid-template-rows: 1fr 5fr 1fr 1fr;
    grid-gap: 10px;
    height: 100%;

    > * {
      background-color: saddlebrown;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  header {
    grid-area: header;
  }

  aside {
    grid-area: aside;
  }

  section {
    grid-area: section;
  }

  footer {
    grid-area: footer;
  }

  @media (min-width: 400px) {
    .container {
      grid-template-areas:
        "header section"
        "aside section"
        "aside footer";
      grid-template-rows: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr;
    }
  }
}